.quote-display {
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  display: grid;
  gap: 1.5rem;
}

.quote-display h2 {
  text-align: center;
}

.quote-display li {
  text-align: right;
  display: grid;
  gap: 0.5rem;
}

.quote-display li p:last-child {
  font-weight: bold;
}
